{%load static%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FF</title>
<link href="../static/css_blog.css" rel="stylesheet" type="text/css" />
<link href="../static/about.css" rel="stylesheet" type="text/css" />
<style>
        /* Resetting some default styles */
        * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    /* Basic form group styling */
    .form-group {
        margin-bottom: 15px;
    }
    
    /* Label styling */
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    input[type="checkbox"] {
        padding: 8px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }
    
    /* Radio and checkbox label positioning */
    input[type="radio"] {
        display: inline-block; /* 让单选按钮横向排列 */
        margin-right: 10px; /* 间距可以根据需要调整 */
        vertical-align: middle; /* 垂直居中对齐 */
    }
    input[type="checkbox"] {
        display: inline-block;
        margin-right: 5px;
    }
    
    /* Button styling */
    button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }
    
    /* Button hover effect */
    button:hover {
        background-color: #45a049;
    }
</style>
</head>

<body>
	<a id="btn" href="javascript:;" title="回到顶部"></a>
	<div class="top_nav"><!--欢迎行开始-->
        <a>FF 的作品</a>
        <img src="../static/images/meme.jpg" />
        <p>欢迎来欣赏</p>
    </div><!--欢迎行结束-->
	<div class="topBox"><!--网页头部开始-->
    	<div class="top_bg"><!--网页头部背景开始-->
            <div class="wordsBox">    
                <p>我想告别不堪回首破碎的过去，告别满身的纠结和沉迷。<br>
                    在那万里之外辽阔寂寞的远方，是我抛弃的上千个黎明。</p>
            	<div class="text">记录每一片美好</div>
                <div class="flower"><img src="../static/images/flower.jpg" /></div>
            </div>   
        <div class="navBox"><!--导航盒子开始-->
         	<div class="nav"><!--导航开始-->
                <!-- 这里加功能！！！ -->
                <ul>
                    <li><span style="color:greenyellow;">查询路线</span></li>
                </ul>
  			</div><!--导航结束-->
  		</div><!--导航盒子结束-->
        </div><!--网页头部背景结束-->
    </div><!--网页头部结束-->
    <div class="midBox">
        <div class="warp">
        	<div class="left_box"><!--左边盒子-->
                <div class="x"><!--文章展示-->
                	<h3 class="about_h">您现在的位置是：华东交通大学</h3>
                    <div class="about">
                    	<h1 style="color: rgb(255, 0, 102); padding-left: 10px; padding-top: 10px;">世界如此广阔，您向往哪一处风光？</h1>
                        <div class="form-group", style="display: flex;">
                            <label for="start", style="margin-left:5px; margin-top: 10px; font-size: 15px;">起始位置</label>
                            <input type="text", style="margin-left:20px; margin-top: 5px;", id="starts" required>
                        </div>
                        <div class="history", style="display: flex">
                            <span style="font-size: 15px; padding-left: 5px; padding-top: 10px;">您曾去过</span>
                            {% if DB1 %}
                                <div style="padding-top: -3px">
                                    {% for db in DB1 %}
                                        <button class="HisTory1"
                                                style="font-size: 14px;
                                                       background-color: #0099CC;
                                                       width: 160px;
                                                       height: 36px;
                                                       cursor: pointer;
                                                       margin-left: 20px"
                                                onmouseover="this.style.backgroundColor='#8345a0'"
                                                onmouseout="this.style.backgroundColor='#0099CC'"
                                                onclick="showText1(this)">
                                            {{ db }}
                                        </button>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group", style="display: flex; margin-top: -8px;">
                            <label for="start", style="margin-left:5px; margin-top: 10px; font-size: 15px;">目的位置</label>
                            <input type="text", style="margin-left:20px; margin-top: 5px;", id="ends" required>
                        </div>
                        <div class="history", style="display: flex">
                            <span style="font-size: 15px; padding-left: 5px; padding-top: 10px;">您曾去过</span>
                            {% if DB2 %}
                                <div style="padding-top: -3px">
                                    {% for db in DB2 %}
                                        <button class="HisTory2"
                                                style="font-size: 14px;
                                                       background-color: #0099CC;
                                                       width: 160px;
                                                       height: 36px;
                                                       cursor: pointer;
                                                       margin-left: 20px"
                                                onmouseover="this.style.backgroundColor='#8345a0'"
                                                onmouseout="this.style.backgroundColor='#0099CC'"
                                                onclick="showText2(this)">
                                            {{ db }}
                                        </button>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group" style="height: 80px;">
                            <label style="margin-left:5px; margin-top: 0px; font-size: 18px;">交通方式</label><br>
                            <div class="traver_mode" style="padding-left: 10px;">
                                <ol style="list-style-type: none;  display: flex;">
                                    <li>
                                        <div class="Driving" style="height: 30px; width: 100px;">
                                            <input type="radio" id="driving" name="travelMode" value="driving" checked>
                                            <label for="driving" style="font-size: 12px;">驾车</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="Walking" style="height: 30px; width: 100px;">
                                            <input type="radio" id="walking" name="travelMode" value="walking">
                                            <label for="walking" style="font-size: 12px;">步行</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="Bicycling" style="height: 30px; width: 100px;">
                                            <input type="radio" id="bicycling" name="travelMode" value="bicycling">
                                            <label for="bicycling" style="font-size: 12px;">骑行</label>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        
                        <div class="form-group" style="height: 80px;">
                            <label style="margin-left:5px; margin-top: 0px; font-size: 18px;">路线优先</label><br>
                            <div class="traver_mode" style="padding-left: 10px;">
                                <ol style="list-style-type: none;  display: flex;">
                                    <li>
                                        <div class="fastest" style="height: 30px; width: 100px;">
                                            <input type="radio" id="fastest" name="routePreference" value="fastest" checked>
                                            <label for="fastest" style="font-size: 12px;">时间最短</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="shortest" style="height: 30px; width: 100px;">
                                            <input type="radio" id="shortest" name="routePreference" value="shortest">
                                            <label for="shortest" style="font-size: 12px;">路程最短</label>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        
                        <div class="form-group" style="height: 30px; width: 300px; display: flex;">
                            <label for="highways" style="font-size: 18px; width: 80px; padding-left: 5px;">上高速</label>
                            <input type="checkbox" id="highways" name="highways">
                        </div>
                        
                        <button onclick="redirectToRoute()" style="margin-left: 10px; margin-top: 0px; margin-bottom: 40px;">查询路线</button>
                    </div>
                 </div>
            </div>   
        
        	<div class="right_box"><!--右边盒子-->
            	<div class="about_me">
                	<!--<div class="me"></div>-->
                    <a href="#"><span>FF</span></a>
                </div>
                <!-- 分享盒子开始-->
                <div class="share_box">
                	<h3><span>我想拿金牌</span></h3>
                	
                </div>
                <!-- 分享盒子结束-->
               	<div class ="motto"><!--座右铭开始-->
                	<ul>
                    	<p><b>There is more to life than increasing its speed.</b></p>
     					<p><b>生活不仅仅是匆匆赶路</b></p>
                    </ul>
                </div><!--座右铭结束-->
            </div><!--/*右边内容匡结束*/-->
        </div>
    </div>
    <!--中间框架结束-->
    <div class="bottomBox">
    	<div class="footer">
        	<p>Design by FF</p>
        	<p>此版权归 FF 所有</p>
            <ul class="about_blog">
                <p>联系QQ：852285268 </p>
                <p>创建时间：2024.06.21-2024.0624</p>
            </ul>
            <hr style="height:2px;border:none;border-top:2px solid #fff;" />
        </div>  
    </div>
    <script>
        function redirectToRoute() {
            var start = document.getElementById('starts').value;
            var end = document.getElementById('ends').value;
            var travelMode = document.querySelector('input[name="travelMode"]:checked').value;
            var routePreference = document.querySelector('input[name="routePreference"]:checked').value;
            var useHighways = document.getElementById('highways').checked;

            var url = 'http://127.0.0.1:8000/' + encodeURIComponent(start) + '/' + encodeURIComponent(end);
            url += '/' + travelMode;
            url += '/' + routePreference;
            url += '/' + (useHighways === false ? 0 : 1);
            console.log(url);
            window.location.href = url;
        }
        function showText1(button) {
            var buttonText = button.textContent.trim();
            document.getElementById('starts').value = buttonText;
        }
        function showText2(button) {
            var buttonText = button.textContent.trim();
            document.getElementById('ends').value = buttonText;
        }
    </script>
</body>
</html>
